/*Adjust jumbotron header */
/* Need to adjust cards to center */
/*Text align center margin 0 auto */
.card {
    margin-left: 80px;
    text-align: center;

}

.crystal-image{
    display: inline-block;
}

.h5 .p {
    font-display: bold;
    font-size: 20px;

}