/*Adjust jumbotron header */
/* Need to adjust cards to center */
/*Text align center margin 0 auto */
.card {
    text-align: center;

}

.crystal{
    display: inline;
    width: 75px;
    height: 75px;
}

.h5 .p {
    font-display: bold;
    font-size: 20px;

}